@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.b-page {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.b-page__header {
  width: 100%;
  height: auto;
  text-align: center;
}
.b-page__content {
  width: 100%;
  height: auto;
}
.b-page__footer {
  width: 100%;
  height: auto;
  float: right;
}
.padding_none {
  padding: 0 !important;
}
.b-header__line {
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
  background-color: #4cb1ca;
}
.b-line__item {
  display: inline-block;
  font-family: open_sansregular, sans-serif;
  font-size: 14px;
  color: #bff2ff;
  position: relative;
}
.b-line__item_color {
  color: #ffffff;
  cursor: pointer;
}
.b-line__arrow {
  font-size: 12px;
  font-weight: bolder;
  vertical-align: -1px;
}
.b-line_margin {
  margin: 0 8px 0 8px;
}
.b-modal {
  width: auto;
  height: auto;
  padding: 5px;
  background-color: #4cb1ca;
  position: absolute;
  right: 0;
  text-align: center;
  display: none;
  z-index: 99;
}
.b-modal__item {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
  text-decoration: none;
}
.b-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: right;
}
.b-nav__item {
  display: inline-block;
  width: auto;
  margin: 0 8px 0 8px;
}
.b-nav__link {
  text-decoration: none;
  font-family: open_sansregular, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 0 8px 0 8px;
}
.b-nav__string {
  font-size: 13px;
  font-family: open_sansregular, sans-serif;
  color: #ffffff;
}
.b-nav__footer {
  text-align: center;
}
.b-top-menu {
  width: 100%;
  height: auto;
  padding: 10px 0 10px 0;
}
.b-top-menu__logo {
  display: inline-block;
  font-family: open_sansbold, OpenSans-Bold, sans-serif;
  font-size: 30px;
  color: #656565;
  vertical-align: middle;
}
.b-top-menu__nav-bar {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.b-top-menu__search {
  display: inline-block;
}
.b-top-menu__cart {
  display: inline-block;
}
.b-nav-bar {
  width: auto;
}
.b-nav-bar__link {
  display: inline-block;
  text-decoration: none;
  font-family: open_sansbold, OpenSans-Bold, sans-serif;
  font-size: 14px;
  color: #656565;
  margin: 0 8px 0 8px;
}
.b-search {
  display: inline-block;
}
.b-search__input {
  border: 1px solid #c6c6c6;
  width: 170px;
  height: 25px;
  padding: 2px;
  box-sizing: border-box;
}
.b-search__button_hidden {
  display: none;
}
.b-search .fa-search {
  position: relative;
  left: -25px;
  color: #656565;
  cursor: pointer;
  font-size: 16px;
  vertical-align: baseline;
}
.b-cart {
  display: inline-block;
}
.b-cart .fa-tags,
.b-cart .fa-shopping-cart {
  color: #ffffff;
  padding: 10px;
  border-radius: 100%;
  background-color: #7db122;
  font-size: 14px;
}
.b-cart__item {
  font-size: 14px;
  font-family: open_sansbold, OpenSans-Bold, sans-serif;
  color: #656565;
}
.b-slider {
  width: 100%;
  height: 35vw;
  overflow: hidden;
  position: relative;
}
.b-slider__content {
  display: none;
  width: 100%;
  height: auto;
}
.b-slider__img {
  width: 100%;
  height: auto;
}
.b-slider__img .b-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.b-slider__item {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: auto;
}
.b-slider__item .b-text {
  width: 100%;
  display: block;
  margin-bottom: 2px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  color: #ffffff;
}
.b-slider__item .b-text_font_bold {
  font-family: open_sansbold, OpenSans-Bold, sans-serif;
}
.b-slider__item .b-text_font_light {
  font-family: open_sanslight, sans-serif;
}
.b-slider__button {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.b-slider__button .b-button__prev {
  display: inline-block;
  text-align: center;
  color: #cdcdcd;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 100%;
  font-size: 50px;
  cursor: pointer;
  float: left;
  margin-left: 5%;
}
.b-slider__button .b-button__prev:hover {
  background-color: #7db122;
  color: #ffffff;
}
.b-slider__button .b-button__prev .fa-angle-left {
  line-height: 70px;
  margin-right: 4px;
}
.b-slider__button .b-button__next {
  display: inline-block;
  text-align: center;
  color: #cdcdcd;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 100%;
  font-size: 50px;
  cursor: pointer;
  float: right;
  margin-right: 5%;
}
.b-slider__button .b-button__next:hover {
  background-color: #7db122;
  color: #ffffff;
}
.b-slider__button .b-button__next .fa-angle-right {
  line-height: 70px;
  margin-left: 4px;
}
.active {
  display: block;
}
.b-slider__button-index {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
  text-align: center;
}
.b-slider__button-index .b-button-index {
  display: inline-block;
  padding: 12px;
  margin-right: 15px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 #cdcdcd;
  cursor: pointer;
}
.b-slider__button-index .b-button-index_bg-color {
  background-color: #7db122;
}
.b-content {
  width: 100%;
  height: auto;
  padding: 10px 50px 10px 50px;
  font-size: 0;
}
.b-content__main {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.b-content__aside {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.b-main {
  width: 100%;
  height: auto;
}
.b-main__title {
  font-size: 18px;
  font-family: open_sansregular, sans-serif;
  color: #635f57;
  text-align: center;
}
.b-main__item-row {
  width: 100%;
  height: auto;
  text-align: center;
}
.b-main__item {
  display: inline-block;
  width: 250px;
  height: auto;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 5px 0 #cdcdcd;
  position: relative;
  overflow: hidden;
}
.b-main__item_no-margin {
  margin-right: 0;
}
.b-main__right-string {
  position: absolute;
  top: 6%;
  right: -35%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #4cb1ca;
  width: 100%;
  padding: 3%;
  text-align: center;
  font-family: open_sansbold, OpenSans-Bold, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.b-main__right-string .b-string {
  display: block;
  width: 35%;
  margin: 0 auto;
}
.b-main__left-string {
  position: absolute;
  top: 6%;
  left: -35%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #7db122;
  width: 100%;
  padding: 3%;
  text-align: center;
  font-family: open_sansbold, OpenSans-Bold, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.b-main__left-string .b-string {
  display: block;
  width: 35%;
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .b-main__item {
    width: 30%;
  }
}
@media screen and (max-width: 992px) {
  .b-nav {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .b-slider__item {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
  }
  .b-slider__item .b-text {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
  .b-slider__button {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .b-slider {
    height: 230px;
  }
  .b-slider .b-img_width {
    width: 170%;
  }
  .b-slider .b-button-index {
    display: none;
  }
  .b-line-footer__title {
    display: block !important;
    margin: 10px 0 10px 0 !important;
  }
  .b-section-footer__item {
    text-align: center;
  }
  .b-content-info__icon {
    float: left;
  }
  .b-top-menu__search {
    width: 100%;
  }
  .b-search {
    display: block;
    margin-left: 20px;
  }
  .b-search__input {
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    margin: 10px auto;
    padding: 4px;
  }
  .b-search .fa-search {
    line-height: 30px;
    left: -30px;
  }
  .b-main__item {
    width: 240px;
  }
  .b-content__aside .b-aside {
    width: 260px;
    padding: 10px;
  }
}
.b-items {
  width: 100%;
  height: 100%;
}
.b-items__img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.b-items__img .b-item-img {
  width: 100%;
  height: auto;
}
.b-items__cart {
  float: right;
  width: auto;
}
.b-items__cart .fa-shopping-basket {
  background-color: #7db122;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 100%;
  color: #ffffff;
  float: right;
}
.b-items__text {
  display: inline-block;
}
.b-text-section {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}
.b-text-item {
  display: inline-block;
  float: left;
  width: 75%;
}
.b-text-item__title {
  font-family: open_sansregular, sans-serif;
  font-size: 15px;
  float: left;
  width: 75%;
  height: 50px;
  color: #635f57;
  text-align: left;
}
.b-text-item__cy {
  font-size: 18px;
  font-family: open_sansregular, sans-serif;
  color: #7db122;
}
.b-text-item__value {
  font-size: 18px;
  font-family: open_sansbold, OpenSans-Bold, sans-serif;
  color: #7db122;
}
.b-text-item__sales {
  font-size: 14px;
  font-family: open_sansregular, sans-serif;
  text-decoration: line-through;
  color: #635f57;
}
.b-text-item__sales-value {
  font-size: 14px;
  font-family: open_sansregular, sans-serif;
  color: #635f57;
  text-decoration: line-through;
}
.b-aside {
  width: 300px;
  padding: 15px;
  height: auto;
  margin: 0 auto;
}
.b-aside__top {
  width: 100%;
  height: auto;
  border-top: 4px solid #4cb1ca;
  box-shadow: 0 0 5px 0 #cdcdcd;
}
.b-aside__button {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px 0 #cdcdcd;
}
.b-aside__button .b-button {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
  background-color: #7db122;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
}
.b-aside__button .js-active {
  background-color: #4cb1ca;
}
.b-aside__bottom {
  width: 100%;
  height: auto;
  border-top: 4px solid #4cb1ca;
  box-shadow: 0 0 5px 0 #cdcdcd;
}
.b-aside_margin_bottom {
  margin-bottom: 30px;
}
.b-tabs {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  display: none;
}
.b-tabs__title {
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  font-family: open_sansregular, sans-serif;
  color: #635f57;
}
.b-tabs__img {
  width: 100%;
  height: 380px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.b-tabs__content {
  width: 100%;
  height: auto;
}
.b-tabs__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: #4cb1ca;
  border: none;
  width: 150px;
  height: 45px;
  line-height: 45px;
  font-family: open_sansregular, sans-serif;
  font-size: 18px;
  text-align: center;
}
.b-tabs_active {
  display: block;
}
.b-aside-bottom {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.b-aside-bottom__title {
  margin: 0 auto;
  font-size: 18px;
  font-family: open_sansregular, sans-serif;
  color: #635f57;
}
.b-aside-bottom__text {
  font-family: open_sansregular, sans-serif;
  font-size: 15px;
  color: #656565;
}
.b-aside-bottom__line {
  width: 170px;
  border-top: 1px solid #cdcdcd;
  margin: 0 auto;
}
.b-aside-bottom__form {
  margin-top: 15px;
  width: 100%;
}
.b-aside-bottom__input {
  width: 170px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.b-aside-bottom__btn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #7db122;
  color: #ffffff;
  font-size: 15px;
  font-family: open_sansregular, sans-serif;
}
.b-footer {
  width: 100%;
  height: auto;
}
.b-footer__line {
  width: 100%;
  height: auto;
  background-color: #4cb1ca;
}
.b-footer__section {
  width: 100%;
  height: auto;
  padding: 10px 0 10px 0;
  background-color: #39a0b9;
}
.b-footer__line-bottom {
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
  background-color: #0b4b5a;
  text-align: center;
}
.b-footer__line-bottom_style {
  color: #8adcf0;
  font-size: 13px;
}
.b-line-footer {
  width: 100%;
  padding: 10px 0 10px 0;
  font-size: 0;
  text-align: center;
}
.b-line-footer__item {
  display: inline-block;
  width: 100%;
  height: auto;
}
.b-line-footer__title {
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  font-family: open_sansregular, sans-serif;
  margin-left: 10px;
}
.b-line-footer__icon {
  color: #39a0b9;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 16px;
  font-size: 17px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.b-section-footer {
  width: 100%;
  height: auto;
}
.b-section-footer__item {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.b-section-footer__title {
  color: #ffffff;
  font-size: 18px;
  font-family: open_sansregular, sans-serif;
}
.b-section-footer__btn-like {
  background-color: #eceef5;
  padding: 2px 8px 2px 8px;
  border-radius: 10%;
  color: #5c74c5;
  font-family: open_sansregular, sans-serif;
  font-size: 12px;
  cursor: pointer;
}
.b-section-footer__sub-block {
  width: 100%;
  height: auto;
  border-top: 1px solid #4cb1ca;
  border-bottom: 1px solid #4cb1ca;
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
}
.b-section-footer__bottom-text {
  font-size: 15px;
  color: #ffffff;
  font-family: open_sansregular, sans-serif;
}
.b-section-footer_font-family {
  font-family: open_sanslight, sans-serif;
  font-size: 15px;
  margin-bottom: 0;
}
.sub-block {
  width: 100%;
}
.sub-block__img {
  display: inline-block;
  width: 23%;
  height: auto;
}
.sub-block__img .sub-block-img {
  width: 100%;
  height: auto;
}
.b-item-content {
  width: 100%;
  height: auto;
}
.b-item-content__line {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.b-item-content__link {
  text-decoration: none;
}
.b-item-content__icon {
  padding: 12px;
  background-color: #ffffff;
  border-radius: 100%;
  color: #39a0b9;
  font-size: 18px;
}
.b-item-content__text {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  font-size: 14px;
  color: #ffffff;
  font-family: open_sansregular, sans-serif;
  padding-left: 5px;
}
.b-item-content_color_blue {
  color: #9ae2f4;
}
.b-content-info {
  font-size: 14px;
  font-family: open_sansregular, sans-serif;
  color: #ffffff;
  margin-bottom: 3%;
}
.b-content-info__icon {
  margin-right: 3%;
}
.b-contact-info {
  width: 100%;
  padding-bottom: 3%;
  border-bottom: 1px solid #4cb1ca;
}
.b-contact-info__text {
  display: block;
  color: #ffffff;
  font-family: open_sansregular, sans-serif;
  font-size: 14px;
  margin-bottom: 3%;
}
.b-footer-social {
  padding: 5px 0 5px 0;
}
.b-footer-social__icon {
  font-size: 15px;
  color: #39a0b9;
  background-color: #ffffff;
  margin: 0 3px 0 3px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;
}
.b-footer-social__link {
  text-decoration: none;
}
.b-footer-social .fa-google-plus-g,
.b-footer-social .fa-linkedin-in,
.b-footer-social .fa-rss,
.b-footer-social .fa-facebook-f {
  line-height: 35px;
}
